<link href="/css/Contact.css" rel="stylesheet" />
<div class="container-contact">
    <div class="container">
        <div class="content">
            <div class="left-side">
                <div class="address details">
                    <i class="fa-solid fa-map-location-dot"></i>
                    <div class="topic">Address</div>
                    <div class="text-one">Baku, NP12</div>
                    <div class="text-two">Narimanov 06</div>
                </div>
                <div class="phone details">
                    <i class="fa-solid fa-phone"></i>
                    <div class="topic">Phone</div>
                    <div class="text-one">+994 55 795 61 33</div>
                    <div class="text-two">+994 55 376 00 62</div>
                </div>
                <div class="email details">
                    <i class="fa-solid fa-envelope"></i>
                    <div class="topic">Email</div>
                    <div class="text-one">Ruslan@gmail.com</div>
                    <div class="text-two">RaArt@gmail.com</div>
                </div>
            </div>
            <div class="right-side">
                <div class="topic-text">Send us a message</div>
                <p>Send Message</p>
                <form action="#">
                    <div class="input-box">
                        <input type="text" placeholder="Enter your name">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Enter your email">
                    </div>
                    <div class="input-box message-box">
                        <textarea placeholder="Enter your message"></textarea>
                    </div>
                    <div class="button">
                        <input type="button" value="Send Now">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>