@using FinalCode.Models
@model Product
    <script src="~/js/plugins.js"></script>   
    <script src="~/assets/js/custom.js"></script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
    <!-- product details inner end -->
    <div class="product-details-inner">
        <div class="row">
            <div class="col-lg-5">
                <div class="product-large-slider mb-20">
                    @foreach (ProductImage productImage in Model.ProductImages)
                    {
                        <div class="pro-large-img img-zoom">
                            <img src="assets/images/product/@productImage.Image" alt="product thumb" />
                        </div>
                    }

                </div>
                <div class="pro-nav slick-row-5">
                    @foreach (ProductImage productImage in Model.ProductImages)
                    {
                        <div class="pro-nav-thumb"><img src="assets/images/product/@productImage.Image" alt="" /></div>

                    }
                </div>
            </div>
            <div class="col-lg-7">
                <div class="product-details-des">
                    <h3 class="pro-det-title">@Model.Name</h3>
                    <div class="pro-review">
                        <span><a href="#">1 Review(s)</a></span>
                    </div>
                    <div class="price-box">
                        <span class="regular-price">$@Model.Price</span>
                        <span class="old-price"><del>$@Model.DiscountPrice</del></span>
                    </div>
                    <p>@Model.Description</p>
                    <form method="get" id="basketform" asp-controller="Product" asp-action="AddBasket" asp-route-id="@Model.Id">
                        <div class="quantity-cart-box d-flex align-items-center mb-20">
                            <div class="quantity">
                                <div class="pro-qty"><input type="text" id="productcount" name="count" value="1"></div>
                            </div>
                            <button id="addbasketbtn" type="submit" class="btn btn-default" >Add To Cart</button>
                            
                        </div>
                    </form>
                   
                    <div class="availability mb-20">
                        <h5 class="cat-title">Availability:</h5>
                        <span>In Stock</span>
                    </div>
                    <div class="share-icon">
                        <h5 class="cat-title">Share:</h5>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- product details inner end -->
</div>
