@model Category
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-lg-6 h3 mb-4 text-gray-800">
        <h1>Category Update</h1>
    </div>
    @*<div class="text-danger" asp-validation-summary="ModelOnly"></div>*@
    <div class="col-lg-12 mx-auto">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Name">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


