@model Product
@{ ViewData["Title"] = "Delete"; }

<div class="row">
    <div class="col-12">
        <h1>@Model.Name</h1>


        <div>
            <p class="text-danger">Silinen datalari birdefelik silinecek!</p>
        </div>
        <div class="d-flex">
            <a asp-action="Index" class="btn btn-info">Go Back</a>
            <form method="post">
                <button type="submit" class="mx-3 btn btn-danger">Delete </button>
            </form>
        </div>
    </div>
</div>

