@model Product
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-lg-12">
        <h1>Update Product</h1>
    </div>
</div>
<div class="productupdate">
    @await Html.PartialAsync("_ProductUpdateImagePartial", Model)
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-action="Index">Go To List</a>
    </div>
</div>

@*@section Script{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/manage/js/Custom.js"></script>
}*@