* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header-section {
  padding: 40px;

  .main-logo {
    padding-top: 5px;
  }
}

#header-section{
  position: relative;
}
#basket{
  margin: 0;
  height: 550px;
  width: 300px;
  background-color: white;
  position: absolute;
  z-index: 99;
  right: 6%;
  top: 75%;
  visibility: visible;
  #basket-right{
    font-size: 15px;
    color: #414141;
    text-align: right;
    margin: 0;
  }
  #basket-x{
    cursor: pointer;
    margin-right: 15px;
  }
}

.menu-title {


  a {

    text-decoration: none;
    position: relative;
    line-height: 55px;
    color: #242f3d;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;


    &::after {

      content: "";
      position: absolute;
      background-color: #242f3d;
      height: 3px;
      width: 0;
      left: 0;

      bottom: 0.8rem;
      transition: 0.3s;
      text-decoration: none;

    }

    &:hover::after {
      text-decoration: none;
      width: 100%;

    }

    &:hover {
      color: #242f3d;
      text-decoration: none;
    }
  }

}

.main-icons {
  padding-top: 11px;
  
  i {

    display: block;
    margin: 0;
    background: none;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    width: 35px;

    color: #242f3d;
    text-align: center;
    font-size: 24px;
    transition: 0.5s;

    &:hover {
      color: orange;
    }
  }
}






// .fadableElement {
//   opacity: 1;
//   transition: opacity 2s ease-in-out;
//   -moz-transition: opacity 2s ease-in-out;
//   -webkit-transition: opacity 2s ease-in-out;
//   }

// .fadeOut {
//    opacity:0;
// }





















.fnc {
  // main variables, basically everything depends on $slidingAT
  $slidingAT: 1s;
  $slidingDelay: $slidingAT / 3 * 2;
  $maskAT: $slidingAT * 0.7;
  $headingAT: $slidingAT * 1.5;
  $controlAT: $slidingAT/2;
  $easing: ease-in-out;
  $blendMode: luminosity;

  $contentLeft: 40%;
  $contentTop: 40%;

  $headingPadding: 30px;
  $headingFontSize: 100px;

  $maskTop: 15%;
  $maskRight: 100% - $contentLeft;
  $maskHeight: 67vh;
  $maskWidth: $maskHeight * 0.75;

  $black: #1f2833;

  /* you can add color names and their values here
    and then simply add classes like .m--blend-$colorName to .fnc-slide 
    to apply specific color for mask blend mode */
  $bgColors: (dark: lighten(#242424, 20%),
      green: #42605e,
      red: lighten(#6a0a0d, 10%),
      blue: #2d7791);

  &-slider {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    height: 100vh;

    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    &__slides {
      position: relative;
      height: 100%;
      transition: transform $slidingAT $slidingDelay;
    }

    // iterate through color map and set colors for specific classes
    @each $colorTheme,
    $bgColor in $bgColors {
      .m--blend-#{$colorTheme} {
        .fnc-slide__inner {
          background-color: lighten($bgColor, 20%);
        }

        .fnc-slide__mask-inner {
          background-color: $bgColor;
        }
      }

      .m--navbg-#{$colorTheme} {
        background-color: $bgColor;
      }
    }
  }

  &-slide {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);

    &.m--before-sliding {
      z-index: 2 !important;
      transform: translate3d(100%, 0, 0);
    }

    &.m--active-slide {
      z-index: 1;
      transition: transform $slidingAT $slidingDelay $easing;
      transform: translate3d(0, 0, 0);
    }

    &__inner {
      position: relative;
      height: 100%;
      background-size: cover;
      background-position: center top;
      transform: translate3d(0, 0, 0);

      .m--global-blending-active &,
      .m--blend-bg-active & {
        background-blend-mode: $blendMode;
      }

      .m--before-sliding & {
        transform: translate3d(-100%, 0, 0);
      }

      .m--active-slide & {
        transition: transform $slidingAT $slidingDelay $easing;
        transform: translate3d(0, 0, 0);
      }
    }

    &__mask {
      $activeDelay: $slidingAT + $slidingDelay/3;
      $xOffset: 200px;
      $yOffset: 0;
      $deg: 10deg;

      overflow: hidden;
      z-index: 1;
      position: absolute;
      right: $maskRight;
      top: $maskTop;
      width: $maskWidth;
      height: $maskHeight;
      margin-right: $headingPadding * -3;
      // This line basically does all magic with masking effect. Very simple and elegant. Webkit only atm.
      clip-path: polygon(0 0,
          100% 0,
          100% 100%,
          0 100%,
          0 0,
          6vh 0,
          6vh 61vh,
          44vh 61vh,
          44vh 6vh,
          6vh 6vh);
      transform-origin: 50% 0;
      transition-timing-function: $easing;

      .m--before-sliding & {
        transform: rotate($deg * -1) translate3d($xOffset, 0, 0);
        opacity: 0;
      }

      .m--active-slide & {
        transition: transform $maskAT $activeDelay,
          opacity $maskAT/2 $activeDelay;
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }

      .m--previous-slide & {
        transition: transform $maskAT $slidingDelay/2,
          opacity $maskAT/2 $maskAT/2 + $slidingDelay/2;
        transform: rotate($deg) translate3d($xOffset * -1, 0, 0);
        opacity: 0;
      }

      &-inner {
        z-index: -1;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100vw;
        height: 100vh;
        margin-left: -50vw;
        margin-top: -50vh;
        background-size: cover;
        background-position: center center;
        background-blend-mode: $blendMode;
        transform-origin: 50% (100vh - $maskHeight) / 2;
        transition-timing-function: $easing;

        .m--before-sliding & {
          transform: translateY($yOffset) rotate($deg) translateX($xOffset * -1) translateZ(0);
        }

        .m--active-slide & {
          transition: transform $maskAT $activeDelay;
          transform: translateX(0);
        }

        .m--previous-slide & {
          transition: transform $maskAT $slidingDelay/2;
          transform: translateY($yOffset) rotate($deg * -1) translateX($xOffset) translateZ(0);
        }
      }
    }

    &__content {
      z-index: 2;
      position: absolute;
      left: $contentLeft;
      top: $contentTop;
    }

    &__heading {
      margin-bottom: 10px;
      text-transform: uppercase;

      &-line {
        overflow: hidden;
        position: relative;
        padding-right: 20px;
        font-size: $headingFontSize;
        color: #fff;
        word-spacing: 10px;

        &:nth-child(2) {
          padding-left: $headingPadding;
        }

        .m--before-sliding & {
          transform: translateY(100%);
        }

        .m--active-slide & {
          transition: transform $headingAT $slidingDelay * 1.5;
          transform: translateY(0);
        }

        .m--previous-slide & {
          transition: transform $headingAT;
          transform: translateY(-100%);
        }

        span {
          display: block;

          .m--before-sliding & {
            transform: translateY(-100%);
          }

          .m--active-slide & {
            transition: transform $headingAT $slidingDelay * 1.5;
            transform: translateY(0);
          }

          .m--previous-slide & {
            transition: transform $headingAT;
            transform: translateY(100%);
          }
        }
      }
    }

    &__action-btn {
      $hoverAT: 0.3s;
      $fontSize: 20px;
      $vertPadding: 5px;
      $lineHeight: $fontSize + $vertPadding * 2;

      position: relative;
      margin-left: 200px;
      padding: $vertPadding 15px;
      font-size: $fontSize;
      line-height: 1;
      color: transparent;
      border: none;
      text-transform: uppercase;
      background: transparent;
      cursor: pointer;
      text-align: center;
      outline: none;

      span {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        perspective: 1000px;
        transform-style: preserve-3d;
        transition: transform $hoverAT;
        transform-origin: 50% 0;
        line-height: $lineHeight;
        color: #fff;

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          border: 2px solid #fff;
          border-top: none;
          border-bottom: none;
        }

        &:after {
          content: attr(data-text);
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          line-height: $lineHeight;
          background: $black;
          opacity: 0;
          transform-origin: 50% 0;
          transform: translateY(100%) rotateX(-90deg);
          transition: opacity $hoverAT/2 $hoverAT/2;
        }
      }

      &:hover span {
        transform: rotateX(90deg);

        &:after {
          opacity: 1;
          transition: opacity $hoverAT/2;
        }
      }
    }
  }

  &-nav {
    z-index: 5;
    position: absolute;
    right: 0;
    bottom: 0;

    &__bgs {
      z-index: -1;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &__bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &.m--nav-bg-before {
        z-index: 2 !important;
        transform: translateX(100%);
      }

      &.m--active-nav-bg {
        z-index: 1;
        transition: transform $slidingAT $slidingDelay;
        transform: translateX(0);
      }
    }

    &__controls {
      font-size: 0;
    }

    &__control {
      $controlWidth: 100px;

      overflow: hidden;
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: $controlWidth;
      height: 50px;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      transition: background-color $controlAT;

      &.m--active-control {
        background: $black;
      }

      &-progress {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        transform-origin: 0 50%;
        transform: scaleX(0);
        transition-timing-function: linear !important;

        .m--with-autosliding .m--active-control & {
          transform: scaleX(1);
        }

        .m--prev-control & {
          transform: translateX(100%);
          transition: transform 0.5s !important;
        }

        .m--reset-progress & {
          transform: scaleX(0);
          transition: transform 0s 0s !important;
        }

        .m--autosliding-blocked & {
          transition: all 0s 0s !important;
          transform: scaleX(0) !important;
        }
      }
    }
  }
}

/* NOT PART OF COMMON SLIDER STYLES */
$font: "Open Sans",
Helvetica,
Arial,
sans-serif;
$creditsAT: 0.7s;
$creditsWidth: 400px;

body {
  margin: 0;
}

.demo-cont {
  overflow: hidden;
  position: relative;
  height: 100vh;
  perspective: 1500px;
  background: #000;

  &__credits {
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: $creditsWidth;
    height: 100%;
    padding: 20px 10px 30px;
    background: #303030;
    font-family: $font;
    color: #fff;
    text-align: center;
    transition: transform $creditsAT;
    transform: translate3d(100%, 0, 0) rotateY(-45deg);
    will-change: transform;

    .credits-active & {
      transition: transform $creditsAT $creditsAT/3;
      transform: translate3d(0, 0, 0);
    }

    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    &-close {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 28px;
      height: 28px;
      cursor: pointer;

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
        margin-top: -1px;
        background: #fff;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

    &-heading {
      text-transform: uppercase;
      font-size: 40px;
      margin-bottom: 20px;
    }

    &-img {
      display: block;
      width: 60%;
      margin: 0 auto 30px;
      border-radius: 10px;
    }

    &-name {
      margin-bottom: 20px;
      font-size: 30px;
    }

    &-link {
      display: block;
      margin-bottom: 10px;
      font-size: 24px;
      color: #fff;
    }

    &-blend {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
}

.example-slider {
  z-index: 2;
  transform: translate3d(0, 0, 0);
  transition: transform $creditsAT;

  .credits-active & {
    transform: translate3d($creditsWidth * -1, 0, 0) rotateY(10deg) scale(0.9);
  }

/*  .fnc-slide {
    &-1 {

      .fnc-slide__inner,
      .fnc-slide__mask-inner {
        background-image: url("");
      }
    }

    &-2 {

      .fnc-slide__inner,
      .fnc-slide__mask-inner {
        background-image: url("");
      }
    }

    &-3 {

      .fnc-slide__inner,
      .fnc-slide__mask-inner {
        background-image: url("");
      }

      .fnc-slide__inner:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
      }
    }

    &-4 {

      .fnc-slide__inner,
      .fnc-slide__mask-inner {
        background-image: url("");
      }

      .fnc-slide__inner:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }*/

  .fnc-slide__heading,
  .fnc-slide__action-btn,
  .fnc-nav__control {
    font-family: $font;
  }
}


$w: 180px;
$_baseW: 280;
$h: $w * 120 / $_baseW;
$br: $w * 50 / $_baseW;
$outerOffset: 5px;
$animTime: 0.5s;
$dotS: $w * 8 / $_baseW;
$dotLeft: $w * 204 / $_baseW;
$dotLeftOffset: $w * -125 / $_baseW;
$offS: $w * 64 / $_baseW;
$onLeft: $w * 162 / $_baseW;
$onTop: $w * 35 / $_baseW;
$onWidth: $w * 30 / $_baseW;
$onHeight: $w * 56 / $_baseW;
$cubIn: cubic-bezier(0.52, -0.96, 0.51, 1.28);
$cubOut: cubic-bezier(0.67, -0.16, 0.47, 1.61);

@mixin switchOn() {
  .colorful-switch__checkbox:checked~.colorful-switch__label & {
    @content;
  }
}

.colorful-switch {
  position: relative;
  width: $w;
  height: $h;
  margin: 0 auto;
  border-radius: $br;
  background: #cfcfcf;

  &:before {
    content: "";
    z-index: -1;
    position: absolute;
    left: -$outerOffset;
    top: -$outerOffset;
    width: $w + $outerOffset * 2;
    height: $h + $outerOffset * 2;
    border-radius: $br + $outerOffset;
    background: #314239;
    transition: background-color 0.3s;
  }

  &:hover:before {
    background: #4c735f;
  }

  &__checkbox {
    z-index: -10;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  &__label {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: $br;
    cursor: pointer;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: $w * 3;
    height: 100%;
    background: linear-gradient(90deg,
        #14dcd6 0,
        #10e7bd $w,
        #ef9c29 $w * 2,
        #e76339 100%);
    transition: transform $animTime;
    transform: translate3d($w * -2, 0, 0);

    @include switchOn {
      transform: translate3d(0, 0, 0);
    }
  }

  &__dot {
    position: absolute;
    left: $dotLeft;
    top: 50%;
    width: $dotS;
    height: $dotS;
    margin-left: $dotS/-2;
    margin-top: $dotS/-2;
    border-radius: 50%;
    background: #fff;
    transition: transform $animTime;
    transform: translate3d(0, 0, 0);

    @include switchOn {
      transform: translate3d($dotLeftOffset, 0, 0);
    }
  }

  &__on {
    position: absolute;
    left: $onLeft;
    top: $onTop;
    width: $onWidth;
    height: $onHeight;
    transition: transform $animTime;
    transform: translate3d(0, 0, 0);

    @include switchOn {
      transform: translate3d($dotLeftOffset, 0, 0);
    }

    &__inner {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: transform $animTime/2 0s $cubIn;
      transform-origin: 100% 50%;
      transform: rotate(45deg) scale(0) translateZ(0);

      @include switchOn {
        transition: transform $animTime/2 $animTime/2 $cubOut;
        transform: rotate(45deg) scale(1) translateZ(0);
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        border-radius: $dotS/2;
        background: #fff;
      }

      &:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: $dotS + 1px;
      }

      &:after {
        right: 0;
        top: 0;
        width: $dotS + 1px;
        height: 100%;
      }
    }
  }

  &__off {
    position: absolute;
    left: $dotLeft;
    top: 50%;
    width: $offS;
    height: $offS;
    margin-left: $offS/-2;
    margin-top: $offS/-2;
    transition: transform $animTime;
    transform: translate3d(0, 0, 0);

    @include switchOn {
      transform: translate3d($dotLeftOffset, 0, 0);
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: $dotS;
      margin-top: $dotS/-2;
      border-radius: $dotS/2;
      background: #fff;
      transition: transform $animTime/2 $animTime/2;

      @include switchOn {
        transition-delay: 0s;
      }
    }

    &:before {
      transform: rotate(45deg) scaleX(1) translateZ(0);

      @include switchOn {
        transform: rotate(45deg) scaleX(0) translateZ(0);
      }
    }

    &:after {
      transition-timing-function: $cubOut;
      transform: rotate(-45deg) scaleX(1) translateZ(0);

      @include switchOn {
        transition-timing-function: ease;
        transform: rotate(-45deg) scaleX(0) translateZ(0);
      }
    }
  }
}


@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}

.shake:hover,
.shake:focus {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.delivery-h {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 1.1;
  color: #242f3d;
  font-family: "Josefin Sans", sans-serif;
}

.delivery-p {
  font-size: 0.875rem;
  color: #888888;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

#delivery-section {
  margin-top: 50px;
}

// top: 50%;

// left: 70%;

#all-product {
  

    .product {
        z-index: 0;

        .product-image {
            img {
                transition: 0.4s;
            }

            .iconN {
                cursor: pointer;
            }
        }

        &:hover {
            .quick-cart {
                opacity: 1;
                left: 70%;
            }

            .product-image {

                img {
                    transform: translateX(-8px);
                }
            }
        }
    }

    transition: 0.4s;


    .quick-cart {
        position: absolute;
        width: 25%;
        top: 50%;
        transition: 0.3s;
        opacity: 0;
        left: 75%;
        border-top: 1px solid black;
        border-bottom: 1px solid black;

        i {
            margin: 10px;
        }
    }
}


h1 {
  font-family: "Josefin Sans", sans-serif;
}

h6 {
  color: #fdb768;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.1;
}

#category-span {
  color: #888888;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  &:hover {
    cursor: pointer;
  }
}

#off {
  float: right;
  color: #ee3f44;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: none;
  padding: 0;
  margin: 0;

}

.rating {
  i {
    color: #FFD314;
    font-family: "FontAwesome";
    display: inline-block;
    font-size: 10px;

  }
}



.product-name {
  color: #242f3d;
  font-size: 18px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  text-transform: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.4s;

  &:hover {
    color: #fdb768;
    cursor: pointer;
  }
}

#price {
  font-weight: 400;
  font-size: 16px;
  color: #242f3d;
  text-align: left;
  direction: ltr;
  font-family: "Poppins", sans-serif;
}

#d-price {
  font-weight: 400;
  font-size: 14px;
  color: #888888;
  padding-left: 3px;
  direction: ltr;
  font-family: "Poppins", sans-serif;
}

#rew {
  font-size: 12px;
  direction: ltr;
  font-family: "Poppins", sans-serif;
  color: #888888;
  line-height: 1.25em;
}

#category-galery {

  .category-galery-box {

    position: relative;
    transition: 0.4s;

    &:hover {
      transform: translate(-8px);
    }


    .category-galery-box-title {
      h2 {
        display: block;
        margin-bottom: 20px;
        font-family: "Josefin Sans", sans-serif;
        font-size: 30px;
        color: #242f3d;
        line-height: 1.25em;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
          color: #fdb768;
        }
      }

      span {
        position: absolute;
        top: 70%;
        font-size: 14px;
        color: #242f3d;
        direction: ltr;
        font-family: "Poppins", sans-serif;
        line-height: 1.25em;
        cursor: pointer;
        transition: 0.4s;

        &:hover {
          color: #fdb768;
        }
      }

      position: absolute;
      top: 10%;
      left: 5%;
    }
  }
}

#sale-up {
  margin-top: 70px;

  .sale-div {
    position: relative;

    .sale-info {
      a {
        position: relative;
        padding-bottom: 5px;
        display: inline-block;
        text-transform: uppercase;
        color: #242f3d;
        font-size: 14px;
        letter-spacing: 1.4px;
        font-weight: 600;
        text-decoration: none;

        &::after {

          content: "";
          position: absolute;
          background-color: #242f3d;
          height: 3px;
          width: 0;
          left: 0;

          bottom: 0.1rem;
          transition: 0.3s;
          text-decoration: none;

        }

        &:hover::after {
          text-decoration: none;
          width: 100%;

        }

        &:hover {
          color: #242f3d;
          text-decoration: none;
        }
      }

      h2 {
        margin-bottom: 40px;
        color: #242f3d;
        font-size: 36px;

        margin-top: 20px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 400;
        line-height: 1.1;
      }

      position: absolute;
      top: 20%;
      left: 50%;

      .sale-p {
        color: #fdb768;
        direction: ltr;
        font-family: "Poppins", sans-serif;
        font-size: 0.875rem;
        line-height: 1.25em;
      }

      .sale-info-p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 50px;
        color: #888888;
        font-weight: 400;
        direction: ltr;
        font-family: "Poppins", sans-serif;
      }
    }
  }

}

// ----------------------------------------------------------------------------------------
// Reset





.all-detail-box {
  #detail-h {
    margin-bottom: 20px;
    text-transform: none;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: #242f3d;

  }
  #d-price-detail{
    text-decoration: line-through;
    font-weight: 400;
    margin-right: 10px;
    font-size: 18px;
    color: #888888;
    font-family: "Josefin Sans", sans-serif;
  }
  #price-detail{
    color: #ef5357;
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
  }
 
  .detail-info{
    color: #242f3d;
    font-size: 14px;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    line-height: 28px;
  }
}



.btn-cart-detail {


  span {
    
      margin-bottom: 15px;
  }
  height: 80px;
  position: relative;
  background-color: #fdb768;
  color: #242f3d;
  width: auto;
  font-family: "Josefin Sans",
  sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0 30px;
  border-radius: 4px;
  border: none;
  text-align: center;
  
  width: 100%;
  margin-top: 5px;
  font-family: "Josefin Sans",
  sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #242f3d;


}




.quantity {

  .minus-btn,
  .plus-btn {


      align-items: center;
      background-color: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.85);
      cursor: pointer;
      display: inline-flex;
      font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: 3rem;
      padding: calc(.875rem - 1px) calc(1.5rem - 1px);
      position: relative;
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
      height: 50px;
      margin-top: 10px;

      &:hover,
      :focus {
          border-color: rgba(0, 0, 0, 0.15);
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
          color: rgba(0, 0, 0, 0.65);
      }


      &:hover {
          transform: translateY(-1px);
      }

      &:active {
          background-color: #F0F0F1;
          border-color: rgba(0, 0, 0, 0.15);
          box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
          color: rgba(0, 0, 0, 0.65);
          transform: translateY(0);
      }

  }



  input {

      -moz-appearance: textfield;

      &:focus {
          outline-style: none;
          box-shadow: none;
          border-color: transparent;


      }

      font-size: 25px;
      border-radius: 6px;
      line-height: 1.5;
      padding: 5px 10px;
      transition: box-shadow 50ms ease-in,
      border 50ms ease-in,
      background-color 100ms ease-in;
      border: 2px solid #dee1e2;
      color: rgb(14, 14, 16);
      background: #dee1e2;
      
      height: 36px;
      width: 50%;
      height: 50px;

      :hover {
          border-color: #ccc;
      }

      :focus {
          border-color: #9147ff;
          background: #fff;
      }

  }
}


// ----------------------------------------------------------------------------------------

#basket {
    opacity: 0.0;
    transition: 0.4s;
}
#basket.active {
  transition: 0.4s;
  opacity: 1;
}