* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity .minus-btn,
.quantity .plus-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
          box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  height: 50px;
  margin-top: 10px;
}

.quantity .minus-btn:hover,
.quantity .minus-btn :focus,
.quantity .plus-btn:hover,
.quantity .plus-btn :focus {
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.quantity .minus-btn:hover,
.quantity .plus-btn:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.quantity .minus-btn:active,
.quantity .plus-btn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
          box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.quantity input {
  -moz-appearance: textfield;
  font-size: 25px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 5px 10px;
  -webkit-transition: border 50ms ease-in, background-color 100ms ease-in, -webkit-box-shadow 50ms ease-in;
  transition: border 50ms ease-in, background-color 100ms ease-in, -webkit-box-shadow 50ms ease-in;
  transition: box-shadow 50ms ease-in, border 50ms ease-in, background-color 100ms ease-in;
  transition: box-shadow 50ms ease-in, border 50ms ease-in, background-color 100ms ease-in, -webkit-box-shadow 50ms ease-in;
  border: 2px solid #dee1e2;
  color: #0e0e10;
  background: #dee1e2;
  display: block;
  height: 36px;
  width: 50%;
  height: 50px;
}

.quantity input:focus {
  outline-style: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
}

.quantity input :hover {
  border-color: #ccc;
}

.quantity input :focus {
  border-color: #9147ff;
  background: #fff;
}

.all-detail-box .icon-star i {
  content: "\f005";
  color: #FFD314;
  font-family: "FontAwesome";
  display: inline-block;
  font-size: small;
}

.all-detail-box .detail-info li {
  color: #242f3d;
  font-size: 14px;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
  line-height: 28px;
}

.all-detail-box #price-detail {
  color: #ef5357;
  font-size: 30px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
}

.all-detail-box #d-price-detail {
  font-weight: 400;
  margin-right: 10px;
  font-size: 18px;
  color: #888888;
  font-family: "Josefin Sans", sans-serif;
}

.all-detail-box h2 {
  text-transform: none;
  margin: 15px 0 30px 0;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #242f3d;
}

.all-detail-box .detail-category {
  color: #888888;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.all-detail-box .detail-category:hover {
  cursor: pointer;
}

.all-detail-box .detail-off {
  float: right;
  color: #ee3f44;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: none;
  padding: 0;
  margin: 0;
}

.all-detail-box .below-info-box h2 {
  line-height: 1.25em;
  float: left;
  font-size: 14px;
  color: #242f3d;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.all-detail-box .below-info-box h2 span {
  color: #fdb768;
  padding-left: 5px;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.btn-cart-detail {
  position: relative;
  background-color: #fdb768;
  color: #242f3d;
  width: auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 0 30px;
  border-radius: 4px;
  border: none;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: 5px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: #242f3d;
}

.btn-cart-detail #add-to-cart-icon {
  position: absolute;
  top: 20%;
  left: 38%;
  font-size: 30px;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-cart-detail span {
  position: absolute;
  top: 30%;
  left: 20%;
}

.btn-cart-detail {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-cart-detail #add-to-cart-span {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-cart-detail:hover #add-to-cart-span {
  z-index: -99;
  opacity: 0;
}

.btn-cart-detail:hover #add-to-cart-icon {
  opacity: 1;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 300px;
  width: 100%;
}

.tabs label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: #fdb768;
  font-weight: bold;
  -webkit-transition: background ease 0.3s;
  transition: background ease 0.3s;
}

.tabs .tab {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
  padding: 20px;

}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: #fff;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 465px) {
  .tabs .tab,
  .tabs label {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .tabs label {
    width: 100%;
    margin-left: 50px;
  }
}


#main-content #detail-breadcrumb a {
    color: #9b9b9b;
}

    #main-content #detail-breadcrumb a:hover {
        color: orange;
    }

#main-content #detail-breadcrumb i {
    color: #9b9b9b;
    font-size: 10px;
}



#main-content #reviews h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 26px;
    text-transform: uppercase;
    border: 0;
    position: relative;
    font-weight: 600;
    margin-top: 35px;
}


#main-content #reviews .reviews {

    padding: 0 15px;
}

    #main-content #reviews .reviews span {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
        display: block;
    }

#main-content #reviews .write {
    text-align: end;
}

    #main-content #reviews .write span {
        font-weight: 500;
        color: #000;
        font-size: 24px;
        padding-bottom: 25px;
        display: inline-block;
        text-transform: capitalize;
        font-family: "Poppins";
    }

    #main-content #reviews .write p {
        font-size: 13px;
        font-family: "Poppins";
        color: #a3a3a3;
    }

    #main-content #reviews .write .rate {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }

        #main-content #reviews .write .rate label {
            margin-right: 15px;
            color: #a3a3a3;
            font-size: 16px;
        }

        #main-content #reviews .write .rate ul li {
            margin-right: 6px;
        }

            #main-content #reviews .write .rate ul li i {
                color: gray;
            }

        #main-content #reviews .write .rate ul .selected i {
            color: #ffc107;
        }

        #main-content #reviews .write .rate ul .starred i {
            color: #ffc107;
        }

    #main-content #reviews .write form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }

        #main-content #reviews .write form .review {
            width: 100%;
            margin-bottom: 25px;
        }

            #main-content #reviews .write form .review input {
                margin-top: 25px;
                width: 87%;
                height: 50px;
                border: 2px solid orange;
                outline: none;
                position: relative;
            }

                #main-content #reviews .write form .review input::-webkit-input-placeholder {
                    color: #a3a3a3;
                    top: 0;
                    position: absolute;
                    padding: 10px 10px;
                }

        #main-content #reviews .write form .name {
            width: 55%;
            border: 2px solid orange;
            outline: none;
            height: 50px;
        }

        #main-content #reviews .write form .email {
            width: 29%;
            margin-left: 15px;
            border: 2px solid orange;
            outline: none;
            height: 50px;
        }

        #main-content #reviews .write form input::-webkit-input-placeholder {
            color: #a3a3a3;
            top: 0;
            position: absolute;
        }

        #main-content #reviews .write form button {
            margin-right: 110px;
            margin-top: 15px;
            width: 40%;
            background: orange;
            font-size: 13px;
            font-weight: 500;
            padding: 0 50px;
            height: 50px;
            color: #fff;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: 600;
            border: none;
            outline: none;
        }

li {
    display: inline-block;
}

#main-content #blog-main .blog-detail .blog-comments .comment .texxt p {
    color: #a3a3a3;
    font-size: 17px;
}

.qtybtn {
    cursor: pointer !important;
    font-size: 20px !important;
    margin: 10px;
}
