@model Blog
    <link href="~/css/blog-detail.css" rel="stylesheet" />
<section id="blog-detail-section">
    <div class="blog-img">
        <img src="https://prestashopdemosite.com/theme/at_zorla/demo/themes/at_zorla/assets/img/bg-breadgrumb.jpg
                "
             alt="" />
        <h1>Lastest Blogs</h1>
    </div>
</section>

<section id="blog-box-section" style="margin-top:50px;">
    <div class="container">

        <div class="blog-box " style="text-align: center;">
            <div class="blog-img">
                <img src="~/assets/images/blog/@Model.Image"
                     alt="" style="height: 100%; width:100%;  " />
            </div>
            <div class="blog-info">
                <h1>@Model.Title</h1>

                <p>
                 @Model.Description
                </p>

            </div>
         
        </div>
    </div>
</section>