@model IEnumerable<Blog>
<link href="~/css/blog.css" rel="stylesheet" />
<section id="blog-section" class="mt-5">
    
        <div class="blog-img-c">
            <img src="https://img.freepik.com/premium-photo/woman-works-office-blue-background-concept-workspace-working-computer-freelance-banner_164357-1144.jpg?w=2000
            "
                 alt="" />
            <h1 style="color: black;">Latest Blogs</h1>
        </div>

        <div class="container d-flex" >
            @foreach (var blog in Model)
            {
            <div class="blog-box col-lg-4 m-2 col-md-3 col-sm-5">
                <div class="blog-img">
                    <img  style="height:250px; width:100%;" src="~/assets/images/blog/@blog.Image"
                         alt="" />
                </div>

                <div class="blog-info">
                    <a href="" style="margin-bottom: 25px;">@blog.Title</a>
                    <br />
                    <br />
                    <a asp-controller="Blog" asp-action="Detail" asp-route-id="@blog.Id" id="read-more" >Read</a>

                </div>
            </div>
            }

        </div>
    
</section>